services:
  db:
    image: postgres:latest
    restart: always
    shm_size: 128
    ports:
      - "5432:5432"
    environment:
      POSTGRES_USER: root
      POSTGRES_PASSWORD: root
      POSTGRES_DB: easy-pay
    volumes:
      - pgdata:/var/lib/postgresql/data
    healthcheck:
      test: ["CMD", "pg_isready", "-U", "root"]
      interval: 10s
      timeout: 5s
      retries: 5
      start_period: 20s

  rabbitmq:
    image: rabbitmq:4.1.5-management-alpine
    container_name: whatsapp-rabbitmq
    ports:
      - "5672:5672"
      - "15672:15672"
    environment:
      RABBITMQ_DEFAULT_USER: guest
      RABBITMQ_DEFAULT_PASS: guest
    volumes:
      - rabbitmq_data:/var/lib/rabbitmq
    healthcheck:
      test: ["CMD", "rabbitmq-diagnostics", "-q", "ping"]
      interval: 10s
      timeout: 5s
      retries: 5
      start_period: 20s

  easy-pay-service:
    build: .
    container_name: easy-pay-service
    ports:
      - "3000:3000"
    depends_on:
      rabbitmq:
        condition: service_healthy
      # db:
      #   condition: service_started
    env_file:
      - .env
    restart: unless-stopped

volumes:
  pgdata:
  rabbitmq_data:
